<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>

<div class="admin">
    <% include ../partials/sidebar.ejs %>

    <!-- Admin Main Area CSS -->

    <div class="admin_main">

        <div class="alert alert-dismissible fade show signed_alart d-none" role="alert">
            <img src="/resources/images/icons/green-tic.png" alt="img"/>
            Signed in successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="admin_title_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Activity</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_activity_area d-none">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="admin_activity_box">
                            <h3>1,593</h3>
                            <p> <img src="/resources/images/icons/eye.png" alt="img"/> GIFTS VIEWED</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin_activity_box">
                            <h3>127</h3>
                            <p> <img src="/resources/images/icons/gift.png" alt="img"/> GIFTS REDEEMED</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin_activity_box">
                            <h3>1,268</h3>
                            <p> <img src="/resources/images/icons/invite.png" alt="img"/> INVITES SENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_pastOrder_area">
            <div class="container-fluid">
                <div class="admin_subtitle d-none">
                    <h4>Past orders</h4>
                </div>
                <% if (!gifts.length) { %>
                    <div class="pastorder_item text-center"><span style="font-size: 25px;">No gift activity found.</span></div>
                <% } %>
                <% for (let i = 0; i < gifts.length; i++) { %>
                <div class="pastorder_item">
                    <table border="0" cellspacing="0" cellpadding="0">

                        <tr>
                            <td class="order_info" style="width: 250px;">
                                6:20 AM EDT, APRIL 14, 2020
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="<%= gifts[i]['_chosen']['Image Src'] %>" alt="icon" />
                                <%= gifts[i]['_chosen']['Title'] %>
                            </td>
                            <td class="order_info" style="width: 150px;">
                                <img class="order_product_img" style="width: 24px;" src="<%= gifts[i]['_chosen']['Google Shopping / Custom Label 3'] %>" alt="icon" />
                            </td>
                            <td class="order_info" style="width: 200px;">
                                <img class="order_product_img" src="/resources/images/icons/user.png" alt="icon" />
                                <%= gifts[i]['rec_first_name'] %> <%= gifts[i]['rec_last_name'] %>
                            </td>
                        </tr>

                    </table>
                </div>
                <% } %>
            </div>
        </div>

    </div>

    <% include ../partials/footer.ejs %>

</div>

<% include ../partials/foot.ejs %>

<script>

</script>

</body>
</html>
