<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<!--Title Area Start -->

<section class="title_area step3_title_area">
    <div class="container">
        <h2>
            CONFIRM DETAILS
        </h2>
        <p>
            Please confirm the details of your order.
        </p>
    </div>
</section>

<!--Title Area Start -->

<section class="title_area2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    PREVIEW CUSTOMIZED LANDING PAGE
                </h4>
                <p>
                    Preview Your Customized Landing Page <a href="#">Here</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Area Start -->

<section class="your_gift_area">
    <div class="add_title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>YOUR GIFT OPTIONS</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container side_box_2">
        <div class="your_gift_options">
            <div class="row">
                <div class="col-md-7">
                    <% for (let i = 0; i < gift._products.length; i++) {
                    	var product = gift._products[i];
                    %>
                    <div class="gift_options_item">
                        <div class="gift_options_item_img_box">
                            <div class="gift_options_item_img">
                                <img src="<%= product['Image Src'] %>" alt="icon"/>
                            </div>
                        </div>
                        <div class="gift_options_item_txt">
                            <h3><%= product['Title'] %></h3>
                            <% if (product['Google Shopping / Custom Label 1']) { %>
                            <h5>You’re supporting:</h5>
                            <p>
                                <img src="<%= product['Google Shopping / Custom Label 3'] %>" alt="icon"/>
                                <%= product['Google Shopping / Custom Label 1'] %>
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-5">
                    <div class="gift_options_right_item">
                        <img src="/resources/images/gifts/6.png" alt="icon"/>
                        <p>
                            Every gift will come with a social impact story card
                            explaining the charitable cause behind the product.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="your_gift_sent_info">
            <div class="row">
                <div class="col-md-5">
                    <% var email_message = gift.email_message; %>
                    <div class="add_title">
                        <h3>SEND TO</h3>
                    </div>
                    <div class="gift_sent_info_box">
                        <%
                            for (let i = 0; i < gift.contacts.length; i++) {
                                var name = gift.contacts[i].first_name + ' ' + gift.contacts[i].last_name;
                                var email = gift.contacts[i].email;
                         %>
                        <div class="gift_sent_info_txt">
                            <h4><%= name %></h4>
                            <h5><%= email %></h5>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="add_title">
                        <h3>EMAIL GIFT MESSAGE:</h3>
                    </div>
                    <div class="gift_sent_info_box">
                        <div class="gift_sent_info_txt">
                            <p>
                                <%= email_message %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gift_down_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn common_btn max_w_250" id="send-gift">SEND YOUR GIFT</button>
                    <p>
                        <b>Important:</b> By accepting this order, <br/> you agree to the <a href="#" class="has_border">Privacy Policy</a> and <a href="#"  class="has_border">Terms</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Down Banner Area Start -->

<div class="down_banner_4">
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

<script>
    let gift = <%- JSON.stringify(gift) %>

    if (gift['_products'].length) {
        $('#cart-badge').show();
        $('#cart-badge').html(gift['_products'].length);
    } else {
        $('#cart-badge').hide();
    }

	$('.backstep_btn').on('click', function() {
		window.location.href = '/step3?gid=' + gift['_id'];
	});

    $('#complete-collection').on('click', function() {
        if (gift && gift['_id']) {
            window.location.href = '/step2?gid=' + gift['_id'];
        }
    });

	$('#send-gift').on('click', function() {
        $.ajax({
            url: '/step4/send',
            method: 'post',
            data: {
                gid: gift['_id'],
            },
            success: function (res) {
                console.log(res);
                window.location.href = '/confirmed?gid=' + gift['_id'];
            },
            error: function (jqXHR, exception) {
                console.log(exception);
                alert('Invalid operation');
            }
        });
    })

</script>

</body>
</html>
